
.icon-logout:before { content: '\e800'; } /* '' */
.icon-logout-1:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-book:before { content: '\e803'; } /* '' */
.icon-book-1:before { content: '\e804'; } /* '' */
.icon-book-open:before { content: '\e805'; } /* '' */
.icon-book-open-1:before { content: '\e806'; } /* '' */
.icon-book-2:before { content: '\e807'; } /* '' */
.icon-logout-2:before { content: '\f02d'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */